body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("nile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  color: #efe1a9;
}

.bg-green {
  background-color: rgba(16, 62, 43, 0.95);
}

.sandy {
  color: #efe1a9;
}

.border-sandy {
  border: 1px solid #efe1a9;
}

.border-bottom-sandy {
  border-bottom: 1px solid #efe1a9;
}

.border-top-sandy {
  border-top: 1px solid #efe1a9;
}

.point {
  color: white;
}
